/* Sidebar.module.css */

/* Sidebar and navigation styles */
.sidebar {
  z-index: 1001; /* Ensure sidebar is above other elements */
  height: 92.5%;
  width: 140px;
  background-color: #004267;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: #383838;
  border-radius: 0px 24px 24px 0px;
  text-align: center;
  align-items: center;
  justify-items: center;
  transition: transform 0.3s ease, left 0.3s ease;
  font-size: medium;
}

.nav {
  display: flex;
  flex-direction: column;
}

.link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px 0;
  border-bottom: 2px solid #005281;
  margin-bottom: 5px;
}

.link:hover {
  background-color: #005281;
  border-radius: 24px;
}

/* Media query for mobile devices */
@media (max-width: 475px) {
  .sidebar {
    height: 100% ;
    width: 100%;
    top: 0;
    left: -90%;
    padding-bottom: 20px;
    transform: translateY(-50%);
    transform: none;
    text-align: center;
    align-items: center;
    justify-items: center;
    border-radius: 0px;
  }

  /* Show the sidebar */
  .sidebar.show {
    left: -10px; 
  }
}

.hamburger {
  margin-top: 0vh;
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1003;
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger span {
  z-index: 1003; /* Ensure sidebar is above other elements */
  display: block;
  width: 25px;
  height: 0px;
  margin: 2px;
  background: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 475px) {
  .hamburger {
    display: flex;
  }

  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 2px;
    background: #fff;
  }
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
