.sidebar {
  height: 97.5%;
  width: 140px;
  background-color: #383838;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  left: 0.5%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: #383838;
  border-radius: 24px 24px 24px 24px;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
}

.link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  border-bottom: 2px solid #444;
  margin-bottom: 5px;
  text-align: center;
}

.link:hover {
  background-color: #444;
  border-radius: 24px;
}
